<div class="row">
    <div class="col-xs-12">
        <p>Add new Deduction</p>
        <label>Deduction Name Name</label>
        <input type="text" class="form-control" #name>
        <Label>Amount</Label>
        <input type="text" class="form-control" #amount>
        <br>
        <button class="btn btn primary" (click)="onAddAllowance(name,amount)">Add Deduction</button>
    </div>
    
    <div class="col-xs-12">
        <ul *ngFor="let i of deduction">
            <li>
                {{i.name}}
            </li>
            <li>
                {{i.amount}}
            </li>
            <button (click)="onRemoveAllowance(i.name)">Remove</button>
        </ul>
    </div>
    </div>