<form #f="ngForm" (ngSubmit)="submit()">
 
    <div class="form-group row">
      <label for="accountNumber" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="config.name" placeholder="">
      </div>
    </div>   
   
            
                          <button>Save</button>
  </form>

  <br>
<ul *ngFor="let i of configList">
  <li>
    <a [routerLink]="['/addconfig/',i]"> <h3>{{i}} </h3> </a>
      <button (click)="onRemoveconfig(i)">Remove</button>
 
  </li>
 
  
</ul>