<div [routerLinkActive]="['link-active']">
    <a [routerLink]="['/editJob']">
        <span class='glyphicon glyphicon-edit'></span> Edit Job Details
    </a>
</div> 
<div [routerLinkActive]="['link-active']">
    <a [routerLink]="['/editaccount']">
        <span class='glyphicon glyphicon-edit'></span> Edit Account Details
    </a>
</div> 
<div [routerLinkActive]="['link-active']">
    <a [routerLink]="['/allowance']">
        <span class='glyphicon glyphicon-edit'></span> Edit Allowances
    </a>
</div> 
<div [routerLinkActive]="['link-active']">
    <a [routerLink]="['/deduction']">
        <span class='glyphicon glyphicon-edit'></span> Edit Deductions
    </a>
</div> 
